table {
    width: 100%;
    background-color: #45a2ff;
}
img {
    width: 150px; 
}
th, td {
    border: 15px solid white;
    padding: 10px;
    text-align: center;
}

a {
    color: rgb(162, 255, 0);
    text-decoration: none;
    font-weight: bold;
}